extends layout


block content
	.row
		.col-md-10.col-md-offset-2
			.panel.panel-default
				.panel-heading
					h4.panel-title Upcoming Schedule - #{producerName}
				.panel-body
					table.table.table-hover.table-responsive
						thead
							tr
								th Type
								th Date
								th City
								th Start Time
								th End Time
								th Details
						each schedule in schedules
							tbody
								tr
									td= schedule.scheduleType
									td= schedule.scheduleDate
									td= schedule.scheduleLocation
									td= schedule.startTime
									td= schedule.endTime
									td= schedule.scheduleDescription 